## POSTTEST 4
### Data Preprocessing

#### Mengimport pandas untuk membaca data csv

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

#### Membaca file csv

In [2]:
df = pd.read_csv("autos.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   index                371528 non-null  int64
 1   dateCrawled          371528 non-null  object
 2   name                 371528 non-null  object
 3   seller               371528 non-null  object
 4   offerType            371528 non-null  object
 5   price                371528 non-null  int64
 6   abtest               371528 non-null  object
 7   vehicleType          333659 non-null  object
 8   yearOfRegistration   371528 non-null  int64
 9   gearbox              351319 non-null  object
 10  powerPS              371528 non-null  int64
 11  model                351044 non-null  object
 12  kilometer            371528 non-null  int64
 13  monthOfRegistration  371528 non-null  int64
 14  fuelType             338142 non-null  object
 15  brand                371528 non-null  object
 16  notRepairedDamage    299468 non-null  object
 17  dateCreated          371528 non-null  object
 18  nrOfPictures         371528 non-null  int64
 19  postalCode           371528 non-null  int64
 20  lastSeen             371528 non-null  object
dtypes: int64(8), object(13)
memory usage: 59.5+ MB

#### Menampilkan Total Kolom dan Baris dari dataframe

In [3]:
df.shape

(371528, 21)

#### 1. Membuat dan membagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [4]:
X = df.iloc[:, : -1]
y = df.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Dimensi X_train", X_train.shape)
print("Dimensi X_test", X_test.shape)
print("Dimensi y_train", y_train.shape)
print("Dimensi y_test", y_test.shape)

Dimensi X_train (260069, 20)
Dimensi X_test (111459, 20)
Dimensi y_train (260069,)
Dimensi y_test (111459,)

#### 2. Menormalisasi data pada kolom Kilometer menggunakan MinMaxScaler

In [5]:
min_max = MinMaxScaler()

copy1 = df
dataCopy_normalization = copy1[["kilometer"]]

normalization = min_max.fit_transform(dataCopy_normalization[["kilometer"]])

data_normalization = pd.DataFrame(normalization)
data_normalization.columns =["kilometer_normalisasi"]

dataCopy_normalization = dataCopy_normalization.join(data_normalization["kilometer_normalisasi"]).reset_index()
dataCopy_normalization = dataCopy_normalization.drop("index", axis=1)

print()
print("Data Sebelum dan Sesudah dilakukan normalisasi : \n")
dataCopy_normalization.head(10)

Data Sebelum dan Sesudah dilakukan normalisasi :

   kilometer  kilometer_normalisasi
0     150000               1.000000
1     125000               0.827586
2     125000               0.827586
3     150000               1.000000
4      90000               0.586207
5     150000               1.000000
6     150000               1.000000
7      40000               0.241379
8      30000               0.172414
9     150000               1.000000

In [6]:
dataCopy_normalization.mean()

kilometer                125618.688228
kilometer_normalisasi         0.831853
dtype: float64

#### 3. Melakukan standarisasi pada kolom price dan kilometer dengan menggunakan scaler##

In [7]:
df_copy = df.copy()
columns_to_scale = ['price','kilometer']

scaler = StandardScaler()
df_copy[columns_to_scale] = scaler.fit_transform(df_copy[columns_to_scale])

In [8]:
print("Data Sebelum Scaling:")
print(df[columns_to_scale].head())

print("\nData Sesudah Scaling:")
print(df_copy[columns_to_scale].head())

Data Sebelum Scaling:
   price  kilometer
0    480     150000
1  18300     125000
2   9800     125000
3   1500     150000
4   3600      90000

Data Sesudah Scaling:
      price  kilometer
0 -0.004687   0.607827
1  0.000280  -0.015424
2 -0.002089  -0.015424
3 -0.004402   0.607827
4 -0.003817  -0.887975

#### 4. Melakukan Data Cleaning dengan mengisi/menghapus nilai null

Mengecek Nilai Null pada dataset

In [9]:
df.isnull().sum()

index                      0
dateCrawled                0
name                       0
seller                     0
offerType                  0
price                      0
abtest                     0
vehicleType            37869
yearOfRegistration         0
gearbox                20209
powerPS                    0
model                  20484
kilometer                  0
monthOfRegistration        0
fuelType               33386
brand                      0
notRepairedDamage      72060
dateCreated                0
nrOfPictures               0
postalCode                 0
lastSeen                   0
dtype: int64

Menambahkan nilai null pada kolom kilometer dan price untuk strategi median dan mean

In [10]:
# Untuk Menghilangkan SettingWithCopyWarning
pd.options.mode.chained_assignment = None

df.kilometer[[15,100,200,300,400,500,600,700,800,900,1000]]=None;
df.price[[15,100,200,300,400,500,600,700,800,900,1000]]=None;

df[df.isnull().any(axis=1)]

,index,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,...,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480.0,test,NaN,1993,manuell,...,golf,150000.0,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300.0,test,coupe,2011,manuell,...,NaN,125000.0,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800.0,test,suv,2004,automatik,...,grand,125000.0,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
8,8,2016-04-04 23:42:13,Ford_C___Max_Titanium_1_0_L_EcoBoost,privat,Angebot,14500.0,control,bus,2014,manuell,...,c_max,30000.0,8,benzin,ford,NaN,2016-04-04 00:00:00,0,94505,2016-04-04 23:42:13
9,9,2016-03-17 10:53:50,VW_Golf_4_5_tuerig_zu_verkaufen_mit_Anhaengerk...,privat,Angebot,999.0,test,kleinwagen,1998,manuell,...,golf,150000.0,0,NaN,volkswagen,NaN,2016-03-17 00:00:00,0,27472,2016-03-31 17:17:06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371515,371515,2016-03-09 11:36:55,Skoda_Fabia_Kombi_1.4,privat,Angebot,1690.0,test,kombi,2004,manuell,...,fabia,150000.0,4,benzin,skoda,NaN,2016-03-09 00:00:00,0,18246,2016-04-04 08:15:30
371519,371519,2016-03-09 13:37:43,Alfa_Romeo_159_Jtdm_1.9_150_ps_13_600_km_top_voll,privat,Angebot,5250.0,control,NaN,2016,automatik,...,159,150000.0,12,NaN,alfa_romeo,nein,2016-03-09 00:00:00,0,51371,2016-03-13 01:44:13
371522,371522,2016-03-21 09:50:58,Mitsubishi_Cold,privat,Angebot,0.0,control,NaN,2005,manuell,...,colt,150000.0,7,benzin,mitsubishi,ja,2016-03-21 00:00:00,0,2694,2016-03-21 10:42:49
371523,371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200.0,test,NaN,2005,NaN,...,NaN,20000.0,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371526,371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400.0,test,kombi,2002,manuell,...,golf,150000.0,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21

Menggunakan Modus/Most_Frequent untuk mengisi kolom yang berisi string

In [11]:
strategi1 = SimpleImputer(strategy="most_frequent")

kolom_isinull = ['model','vehicleType','gearbox','fuelType','notRepairedDamage']

df[kolom_isinull] = strategi1.fit_transform(df[kolom_isinull])

df.isna().sum()

index                   0
dateCrawled             0
name                    0
seller                  0
offerType               0
price                  11
abtest                  0
vehicleType             0
yearOfRegistration      0
gearbox                 0
powerPS                 0
model                   0
kilometer              11
monthOfRegistration     0
fuelType                0
brand                   0
notRepairedDamage       0
dateCreated             0
nrOfPictures            0
postalCode              0
lastSeen                0
dtype: int64

Menggunakan strategi median untuk isi data null pada kolom price

In [12]:
strategi2 = SimpleImputer(strategy="median")

df["price"] = strategi2.fit_transform(df[["price"]])

df.isna().sum()

index                   0
dateCrawled             0
name                    0
seller                  0
offerType               0
price                   0
abtest                  0
vehicleType             0
yearOfRegistration      0
gearbox                 0
powerPS                 0
model                   0
kilometer              11
monthOfRegistration     0
fuelType                0
brand                   0
notRepairedDamage       0
dateCreated             0
nrOfPictures            0
postalCode              0
lastSeen                0
dtype: int64

In [13]:
print(df.price[[15,100,200,300,400,500,600,700,800,900,1000]])

15      2950.0
100     2950.0
200     2950.0
300     2950.0
400     2950.0
500     2950.0
600     2950.0
700     2950.0
800     2950.0
900     2950.0
1000    2950.0
Name: price, dtype: float64

Menggunakan strategi mean untuk mengisi data null pada kolom kilometer

In [14]:
strategi3 = SimpleImputer(strategy="mean")

df["kilometer"] = strategi3.fit_transform(df[["kilometer"]])

df.isna().sum()

index                  0
dateCrawled            0
name                   0
seller                 0
offerType              0
price                  0
abtest                 0
vehicleType            0
yearOfRegistration     0
gearbox                0
powerPS                0
model                  0
kilometer              0
monthOfRegistration    0
fuelType               0
brand                  0
notRepairedDamage      0
dateCreated            0
nrOfPictures           0
postalCode             0
lastSeen               0
dtype: int64

In [15]:
print(df.kilometer[[15,100,200,300,400,500,600,700,800,900,1000]])

15      125618.746921
100     125618.746921
200     125618.746921
300     125618.746921
400     125618.746921
500     125618.746921
600     125618.746921
700     125618.746921
800     125618.746921
900     125618.746921
1000    125618.746921
Name: kilometer, dtype: float64

#### 5. Data Cleaning

Mengecek Data Duplikat Pada Dataset

In [16]:
df[df.duplicated()]

print("Jumlah Data Duplikat : ")
df.duplicated().sum()

Jumlah Data Duplikat :

0

Membuat Data duplikat 2x dari dataset

In [17]:
df = pd.concat([df]*2, ignore_index=True)

In [18]:
df[df.duplicated()]

print("Jumlah Data Duplikat : ")
df.duplicated().sum()

Jumlah Data Duplikat :

371528

Hapus Data Duplikat

In [19]:
df.drop_duplicates(inplace=True)

hasil = df.reset_index(drop=True)
print("Jumlah data duplicated setelah di drop :")
hasil.duplicated().sum()

Jumlah data duplicated setelah di drop :

0

#### 6. Data Transformation

In [23]:
print("Tipe data powerPS Sebelum di ubah :")
df.dtypes

Tipe data powerPS Sebelum di ubah :

index                    int64
dateCrawled             object
name                    object
seller                  object
offerType               object
price                  float64
abtest                  object
vehicleType             object
yearOfRegistration       int64
gearbox                 object
powerPS                float64
model                   object
kilometer              float64
monthOfRegistration      int64
fuelType                object
brand                   object
notRepairedDamage       object
dateCreated             object
nrOfPictures             int64
postalCode               int64
lastSeen                object
dtype: object

**Mengubah Tipe data PowerPS ke float64**

In [24]:
df['powerPS'] = df['powerPS'].astype('float64')

print("Tipe data powerPS sesudah di ubah :")
df.dtypes

Tipe data powerPS sesudah di ubah :

index                    int64
dateCrawled             object
name                    object
seller                  object
offerType               object
price                  float64
abtest                  object
vehicleType             object
yearOfRegistration       int64
gearbox                 object
powerPS                float64
model                   object
kilometer              float64
monthOfRegistration      int64
fuelType                object
brand                   object
notRepairedDamage       object
dateCreated             object
nrOfPictures             int64
postalCode               int64
lastSeen                object
dtype: object

#### 7. Menggunakan OneHotEncoder pada kolom fuelType

In [22]:
one_encoder = OneHotEncoder(sparse=False)

onehot = one_encoder.fit_transform(df[["fuelType"]])
df_onehot = pd.DataFrame(onehot)
df_encoder = df.join(df_onehot)
df_encoder.head()

D:\SEMESTER 5\Praktikum KB\POSTTEST1\venv_C2-21\ihsan_135\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,index,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,...,nrOfPictures,postalCode,lastSeen,0,1,2,3,4,5,6
0,0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480.0,test,limousine,1993,manuell,...,0,70435,2016-04-07 03:16:57,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300.0,test,coupe,2011,manuell,...,0,66954,2016-04-07 01:46:50,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800.0,test,suv,2004,automatik,...,0,90480,2016-04-05 12:47:46,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500.0,test,kleinwagen,2001,manuell,...,0,91074,2016-03-17 17:40:17,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600.0,test,kleinwagen,2008,manuell,...,0,60437,2016-04-06 10:17:21,0.0,0.0,0.0,1.0,0.0,0.0,0.0